Jinja2
mkdocs
mkdocs-autorefs
mkdocs-awesome-pages-plugin
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-embed-external-markdown
mkdocs-jupyter
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-pdf-export-plugin
mkdocs-with-pdf
mkdocstrings
mkdocstrings-python
ipykernel
.